# Vite Frontend Environment Variables Template

# Base API URL of the backend (No trailing slash)
# Local Dev Example: http://localhost:3000
# Production Example: https://database-jvw0.onrender.com
VITE_API_BASE_URL=
